@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 0.5rem;
      }
    
      .navbar-menu {
        flex-direction: column;
      }
    
      .navbar-menu li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .container {
      flex-direction: column;
    }
  
    .form {
      width: 100%;
    }
  
    .card {
      width: 90%;
    }
  
    .cursos .card img {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .form {
      width: 100%;
    }
  
    .card {
      width: 90%;
    }
  
    .cursos .card img {
      width: 70%;
    }
  }
  
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .form {
      width: 100%;
    }
  
    .card {
      width: 90%;
    }
  
    .cursos .card img {
      width: 80%;
    }
  }